<%- include('partials/_header') -%>


<%- include('partials/_navigation') -%>
    
    
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-12 ms-auto"><p class="lead">Hi there, I'm Mavi Barış Şallı.I graduated from Istanbul Aydın University in radio, television and cinema. I have been developing myself in the software field for 1 year. I can develop the backend and frontend of your site. Apart from that, I am interested in the field of artificial intelligence and data science. I continue my work as a freelancer.You can review the projects I have done so far in the Portfolio section.</p></div>
             
            </div>
         
        </div>
    </section>
    

          <!-- Footer-->
          <%- include('partials/_footer') -%>
